<mat-toolbar class="zatoolbar"><span class="title-center">BEAUTY CORNER</span></mat-toolbar>
  
<cdk-virtual-scroll-viewport [itemSize]="200" style="height: 700px">
  <div class="center" *cdkVirtualFor="let post of posts">
    <app-posts [pictureUrl]="post.photoUrl"></app-posts>
    <button class="button" (click)="onClick(post)">See more...</button>
    <button class="button" (click)="onClickCount()" >Add to basket</button>
  </div>
  <div style="padding: 30px;">
    <table class="centerButton"> 
      <tr>
        <th><button (click)="onLoadBack()">Back</button></th>
        <th><button >{{pageNumber}}</button></th>
        <th><button (click)="onLoadMore()">Next</button></th>  
      </tr>
    </table>
  </div>
  <div style="width: 200px; height: 100px; border: 3px solid crimson; display: inline-block; margin-left: 1000px; margin-bottom: 200px;">
    <table>
      <tr>
      <th><img src="https://assets.website-files.com/5ba55685ff818b6009217323/5bad3d1ff688c1d33abb418c_Hunter-Design-ebay-cart.gif" alt="Basket" style="width: 100px; height: 90px;"></th>
      <th><p style="font-size: 20px;">{{basketNumber}}</p></th>
      </tr> 
    </table>
  </div>
</cdk-virtual-scroll-viewport>