.main{
    width: 20%;
    height: 25%;
    margin: 2em !important;
    padding: 6em !important;
    position: relative;

    margin-inline-start: 480px;

}

.sizeImg{
    width: 150%;
    height: 170%;
    margin-inline-start: -40px;
}